---
import "@/styles/global.css";
import "@/styles/about.css";
import Navigation from "@/components/Navigation.astro";
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="The QUT AI & ML Society is a student-led community exploring artificial intelligence and machine learning through events, workshops, and collaboration." />
    <title>QUT AIML</title>
  </head>
  <body class="background-dots">
    <Navigation />

		<div class="content-wrapper about-space">
		
			<section class="pink-panel">
				<p class="pink-title">
					About QUT AIML
				</p>
			</section>

		<div class="info-panel-wrapper">
			<div class="thick-line-behind"></div>			
			<section class="info-panel">
				<p class="section-content">
				The QUT AI & ML Society is a student‑led community dedicated to empowering the next generation of innovators in artificial intelligence and machine learning. 
        We bring together students of all experience levels to learn, experiment, and build through hands‑on workshops, technical projects, and AI‑focused hackathons. 
        We also create opportunities for industry engagement and social connection, giving members the space to collaborate, share ideas, and most importantly, 
        develop something extraordinary.
				</p>
			</section>
			</div>


      <div class="objectives-wrapper">
        <div class="thick-line-behind"></div>

        <section class="objectives-section">
          <div class="objectives-inner">

            <div class="objectives-header">
              <span class="banner left"></span>
              <h2>OUR<br /><span>OBJECTIVES</span></h2>
              <span class="banner right"></span>
            </div>

            <div class="objectives-cards">
              <div class="objective-card">
                <div class="objective-number">1</div>
                <p>
                  Gain insights and guidance from alumni, professionals, and leaders in the AI and ML industry.
                </p>
              </div>

              <div class="objective-card">
                <div class="objective-number">2</div>
                <p>
                  Collaborate, experiment, and build impactful projects focused on artificial intelligence and machine learning.
                </p>
              </div>

              <div class="objective-card">
                <div class="objective-number">3</div>
                <p>
                  Connect and network with students, researchers, and professionals in the AI, ML, and broader tech community.
                </p>
              </div>
            </div>

          </div>
        </section>
      </div>


		</div>

      </div>
    </main>

    <Footer />
  </body>
</html>

