---
import "@/styles/global.css";
import "@/styles/home.css";
import KeyLogo from "@/logos/Logo-Full.svg";
import Navigation from "@/components/Navigation.astro";
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="The QUT AI & ML Society is a student-led community exploring artificial intelligence and machine learning through events, workshops, and collaboration." />
    <title>QUT AIML</title>
  </head>
  <body class="background-dots">
    <Navigation />

    <main class="main-container">
      <div>
		<div class="header-section">
        <KeyLogo class="site-logo" />

			<div class="pink-divider"></div>

			<div class="content-wrapper centered-box">
				<section class="minimal-padding-panel">
					<p class="section-content">
						Empowering the Future through AI & Machine Learning
					</p>
				</section>
			</div>
		</div>

		<div class="content-wrapper large-space">
		
			<section class="pink-panel">
				<p class="pink-title">
					Welcome to QUT AIML
				</p>
			</section>

		<div class="info-panel-wrapper">
			<div class="thick-line-behind"></div>			
			<section class="info-panel">
				<p class="section-content">
					Where students come together to explore, experiment, and innovate in the world of artificial intelligence and machine learning. 
					Whether you’re looking to deepen your AI knowledge, collaborate on cutting-edge projects, or connect with fellow tech enthusiasts, you’ve found your community.
				</p>
				<p class="section-content section-space">
					Join the QUT AI & ML Society as we host hands-on workshops, competitions, and industry-sponsored events designed to challenge your skills and spark your creativity. 
					Our society is your platform to develop impactful AI projects, tackle real-world problems, and gain invaluable experience in the rapidly evolving field of AI and ML.
				</p>
				<p class="section-content section-space">
					Ready to take your AI journey to the next level? Let’s learn, build, and innovate together.
				</p>
			</section>
			</div>

		</div>

      </div>
    </main>

    <Footer />
  </body>
</html>

